/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

@font-face{
  font-family:odin-font;
  src:url(../fonts/Norse-Bold.otf);
}
/******************************************
/* BASE STYLES
/*******************************************/

body {
  display:flex;

}

.left {
  width:50%;
  display:flex;
  background-image:url("../images/halie-west-25xggax4bSA-unsplash.jpg");
  height:140vh;
  background-size: cover;
  flex-direction:column;
}




/******************************************
/* LAYOUT
/*******************************************/

.logo {
  display:flex;
  margin-top:33%;
  background-color:rgba(0,0,0,.5);
  height:130px;
  width:100%;
  justify-content:center;
  color:white;
  align-items:center;
  font-family:'odin-font', sans-serif;
  font-size:40px;

}

.right {
  background-color:rgb(249, 250, 251);
  /* padding-left:60px; */
  font-family:sans-serif;
}


.right p {
  margin-top:10%;
  padding-left:60px;
}
.right p, .p-span, .italicize {
  font-weight:bolder;
  font-size:25px;
  width:75%;

}

.p-span{
  padding-left:60px;
  display:inline-block;
  margin-top:10px;
  margin-bottom:50px;
}

.logo img{
  height:80%;
  width:auto;
}

.italicize {
  font-style:italic;
  font-weight:bold;
}

.copyrightFooter{
  margin:0px auto;
  margin-top:160%;
  color:white;
  font-family:sans-serif;
  font-size:10px;
}

.copyrightFooter a{
  color:white;
}

.form {
  background-color:white;
  padding-left:60px;
  padding-bottom:20px;
  box-shadow:5px 5px 5px rgba(0,0,0,.2)
}

form{
  display:flex;
  flex-flow:column wrap;
  height:200px;
}

label {
  text-transform:uppercase;
  margin-top:20px;
  letter-spacing:1px;
  font-size:12px;
  color:rgb(105, 109, 118);
  font-weight:bold;
}

input {
  width:25%;
  height:30px;
  border-radius:6px;
  border: 1.5px solid rgb(232, 233, 237);
}

input:focus{
  outline-style: none;
  /* box-shadow: none; */
  border-color: transparent;
  border:1.5px solid blue;
  box-shadow:5px 5px 5px rgba(0,0,0,.1)
}

.rightItems{
  margin-left:-310px;
}

h2 {
  padding-top:20px;
}

.bottom_half{
  padding-top:30px;
  padding-left:60px;
}

.bottom_half button{
  background-color: rgba(96, 108, 74);
  color:white;
  padding:10px;
  width:200px;
  border-radius:6px;
  box-shadow:5px 5px 5px rgba(0,0,0,.1);
  border:none;
  outline:none;
}

.bottom_half span{
  display:block;
  font-weight:bold;
  margin-top:30px;
}

.bottom_half span a{
  text-decoration:none;
  color:rgba(96, 108, 74);
}

.invalid {
  border-color:rgba(179, 93, 88);
}

.invalid_pass{
  color:rgba(179, 93, 88);
  top:590px;
  position:absolute;
  font-size:12px;
}

.hidden{
  display:none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
